* {
    margin: 0 auto;
    -webkit-user-drag: none;
    user-drag: none;
}
body {
    width: 384px;
    height: 504px;
}
html {
    width: 384px;
    height: 504px;
    margin: 0;
}
.bod {
    background-color:rgba(239, 254, 255, 0.98);
    width: 384px;
    height: 504px;
    display: block;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    font-family: 'Nunito';
    font-weight:200;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    pointer-events: none;
}
h2 {
    font-weight: 300;
    font-size: 200%;
}
img {
    clip-path:circle(49% at center);
    aspect-ratio: 1/1;
    width: 50%;
    object-fit: cover;
    margin-bottom: 10%;
}
p {
    margin: 7%;
}
