body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    margin: 0;
}
#toolbar {
    background-color:rgba(0, 0, 0, 0.383);
    color: white;
    font-family: 'Google Sans Flex';
    margin: 0;
    width: 96.55vw;
    display:block;
    padding: 0.4vw;
    padding-left: 3vw;
}
#pow {
    position: absolute;
    right: 3vw;
    margin: 0;
}